<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <div class="container">
        <h2>ملتقيات جمعية البيوت السعيدة </h2>
        <div class="row">
            <div class="col-md-4" *ngFor="let M of   meetlist">
                <div class="card" >
                    <div class="card-body">
                       <img width="200px" height="160px" src="{{M.meeting_image}}" class="card-img-top">
                      <h3 class="card-title">{{M.meeting_name}}</h3>
                      <H6>مكان الملتقى </H6>
    
                      <p class="card-text">{{M.meeting_place}}</p>
    
                      <h6 class="card-title">{{M.meeting_type}}</h6>
                      <h6 class="card-title">{{M.program_name}}</h6>
                      <p class="card-text">{{M.description}}</p>
                    </div>
                </div>
                <br>
            </div>    

        </div>
        
    </div>
</body>
</html>
