<div style="margin: 20px;">
  
<div class="header row">
  <div class="col-sm-2">
    <a routerLink="/indexc">
      <img src="assets/image/happylog.jpeg" class="rounded imagelog " alt="Cinque Terre">
    </a>
  </div>
  <div class="col-sm-8">
    <h2 class="home_title">جمعية البيوت السعيدة </h2>
  </div>
</div>

<div class="row mynav">
 
  <div class="col-sm-12 ">
    <ul class="nav nav-tabs justify-content-center navbar-expand-sm  navbar-light">
      <li class="nav-item">
        <a class="nav-link " routerLink="/indexc"><h6>الرئيسية</h6></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/about"><h6>عن الجمعية</h6></a>

      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/programs"><h6>برامج الجمعية </h6></a>

      </li>
      <!--
<li class="nav-item">
        <div class="dropdown">
          <a class="nav-link "><h6>برامج الجمعية </h6></a>
          <div class="dropdown-content">
              <a routerLink="/meetings">برنامج بناءالقدرات </a>
              <a routerLink="/menuitems">برنامج التمكين الاقتصادى  </a>
              <a routerLink="/camp"> برنامج تنمية وتثقيف الأطفال</a>
              <a routerLink="/courses">برنامج الإرشاد الأسري  </a>
          </div>
        </div>
      </li>
      -->
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/itemtype"><h6>مطبخ البيوت السعيدة </h6></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/courses"><h6>الدورات</h6> </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/activity"><h6>النشاطات</h6></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" class="nav-link " routerLink="/news"> <h6> الأخبار</h6></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class="nav-link " routerLink="/contact"> <h6> للتواصل</h6></a>
      </li>
      <li class="nav-item" *ngIf="admin=='admin2'">
        <a class="nav-link" class="nav-link " routerLink="/kitchenmanger"> <h6>  ادارة المطبخ ل</h6></a>
      </li>
      <li class="nav-item" *ngIf="admin=='admin1'">
        <a class="nav-link" class="nav-link " routerLink="/admain"> <h6> ادارةالموقع</h6></a>
      </li>
     
     
     
    </ul>
  </div>
</div>
</div>