
<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <div class="container">
        <h2>دورات البيوت السعيدة </h2>
        <div class="row">
            <div class="col-md-4" *ngFor="let CO of  courseslist">
                <div class="card">
                    <div class="card-body">
                       
                      <h2 class="card-title">{{CO.coures_name}}</h2>
                      
                      <h5>الفئة المستهددفة </h5>
                      <h6 class="card-title">{{CO.target_group}}</h6>
                      <p class="card-text">{{CO.description}}</p>
                      <h5>تاريخ بداية الدورة </h5>
                      <p class="card-text">{{CO.start_date}}</p>
                      <h5>تاريخ نهاية الدورة </h5>
                      <p class="card-text">{{CO.last_date}}</p>
                    </div>
                    
                </div>
            
        </div>
        <br>
        </div>
        
    </div>
</body>
</html>
