<!DOCTYPE html>
<html>
<head>

 
</head>
<body>
 <div class="row "></div>
 <div class="row ph4">    
  <h4>  البرامج</h4>
</div>
<br>
    <div class="container row">
      <div class="col-12">
        <div class="row">
          <div class="col-sm-4" *ngFor="let prog of programlist">
           
            <h5>{{prog.pname}}</h5>
            <p>{{prog.description}}</p>
        </div>     
        </div>
        
      </div>     

      </div>
      <div class="row mynav">
        <div class="col-sm-12 ">
          <ul class="nav nav-tabs justify-content-center navbar-expand-sm  navbar-light">
            <li class="nav-item">
              <a type="button" class="btn mb-1 py-1 px-2  browse-button mr-1"  routerLink="/meetings"><h6>الملتقيات</h6></a>
            </li>
            <li class="nav-item">
              <a type="button" class="btn mb-1 py-1 px-2  browse-button mr-1" routerLink="/camp"><h6>المخيمات </h6></a>
      
            </li>
          
            <li class="nav-item">
              <a type="button" class="btn mb-1 py-1 px-2  browse-button mr-1" routerLink="/courses"><h6>الدورات</h6> </a>
            </li>
            
            <li class="nav-item">
              <a type="button" class="btn mb-1 py-1 px-2  browse-button mr-1" routerLink="/activity"><h6>النشاطات</h6></a>
            </li>
            
            
            
           
          </ul>
        </div>
      </div>
</body>
</html>
