<!DOCTYPE html>
<html lang="en">
<head>
  <title>جمعية البيوت السعيدة </title>
  <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/master/dist/css/bootstrap-rtl.min.css">

</head>
<body>
  <div class="row">
    <a class="nav-link" class="nav-link " routerLink="/login"> <h6>دخول </h6></a>

  </div>
  <div class="row">
    
  </div>
  <app-navbar></app-navbar>
 

  <router-outlet></router-outlet>
  
  

</body>
</html>
  
			