<div class="card">
    <form  #f="ngForm" (ngSubmit)="submit(f)">
        <div class="form-group">
            <label for="news_title">عنوان الخبر </label>
            <input required ngModel name="news_title" #news_title="ngModel" (change)="log(news_title)" id="news_title" type="text" class="form-control">
            <div *ngIf="news_title.touched && !news_title.valid" class="alert alert-danger">
                <div *ngIf="news_title.errors.required">  الرجاء إدخال عنوان الخبر </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="date">تاريخ الخبر</label>
            <input required ngModel name="date" #date="ngModel" (change)="log(date)" id="date" type="date" class="form-control">
            <div *ngIf="date.touched && !date.valid" class="alert alert-danger">
                <div *ngIf="date.errors.required"> الرجاءادخال التاريخ</div>
            </div>
        </div>
        
    
        <div class="form-group">
            <label for="description">الوصف</label>
            <input required ngModel name="description" #description="ngModel" (change)="log(description)" id="description" type="text" class="form-control">
            <div *ngIf="description.touched && !description.valid" class="alert alert-danger">
                <div *ngIf="description.errors.required"> الرجاءادخال نص الخبر  </div>
            </div> 
        </div>
    
            
    
                <button class="btn btn-primary" [disabled]="!f.valid" >إضافة </button>
    
    </form>
    
    
</div>