{{message}}

<form #f="ngForm" (ngSubmit)="submit(f)">

  <div class="form-group">
    <label for="mangerName">إسم المشرف
    </label><br>
    <input required ngModel name="mangerName" #mangerName="ngModel"  id="mangerName" type="text" class="form-control">
    <div *ngIf="mangerName.touched && !mangerName.valid" class="alert alert-danger">
        <div *ngIf="mangerName.errors.required">  الرجاء إدخال الحقل  </div>
    </div>  </div>

  <div class="form-group">
      <label for="password">كلمة المرور
      </label><br>
      <input ngModel required type="text" name="password" class="form-control" id="password">
  </div>

  <p>
    {{f.value | json}}
    {{response | json}}
    {{body | json}}

</p>

  <button class="btn btn-primary" [disabled]="!f.valid" >إضافة </button>


</form>
