<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
  <div class="col-md-12 ">
    <div>
      <img src="../../assets/image/indeximg.jpg"/>
    </div>
    <br>
    <!--
      <div class="slider ">
      <ul>
        <li>
          <img src="../../assets/image/home3.jpg" alt="" />
        </li>
        <li>
          <img src="../../assets/image/homec3.jpg"/>
        </li>
        <li>
          <img src="../../assets/image/homac2.jpg"/>
        </li>
        <li>
          <img src="../../assets/image/home1.jpg"/>
        </li>
        
      </ul>
  
    </div>
    -->
    
  </div>
</div>
<div class="row"></div>
    <div class="row">
      <div>
        <app-list-program></app-list-program>
      </div>
     

    </div>
