<div class="row">
    <div class="col-sm-6">
        <form  #f="ngForm" (ngSubmit)="submit(f)">
            <div class="form-group">
                <label for="camp_name">اسم المخيم </label>
                <input required ngModel name="camp_name" #camp_name="ngModel" (change)="log(camp_name)" id="camp_name" type="text" class="form-control">
                <div *ngIf="camp_name.touched && camp_name.valid" class="alert alert-danger">
                    <div *ngIf="camp_name.errors.required"> الرجاء إدخال اسم المخيم </div>
                </div>
            </div>
           
        
            <div class="form-group">
                <label for="season"> الموسم </label>
                <select ngModel name="season" id="season" class="form-control">
                  <option *ngFor="let season of  seasonList" [value]="season">{{season}}</option>
                </select>
            </div>
        
            <div class="form-group">
                <label for="start_date">تاريخ بداية المخيم </label>
                <input required ngModel name="start_date" #start_date="ngModel" (change)="log(start_date)" id="start_date" type="date" class="form-control">
                <div *ngIf="start_date.touched && !start_date.valid" class="alert alert-danger">
                    <div *ngIf="start_date.errors.required">الرجاء إدخال تاريخ بدء المخيم  </div>
                </div>
            </div>
        
            
            <div class="form-group">
                <label for="last_date">تاريخ نهاية المخيم </label>
                <input required ngModel name="last_date" #last_date="ngModel" (change)="log(last_date)" id="last_date" type="date" class="form-control">
                <div *ngIf="last_date.touched && !last_date.valid" class="alert alert-danger">
                    <div *ngIf="last_date.errors.required">الرجاء إدخال تاريخ بدء المخيم  </div>
                </div>
            </div>
        
            <div class="form-group">
                <label for="target_group">الفئة المستهدفة </label>
                <input required ngModel name="target_group" #target_group="ngModel" (change)="log(target_group)" id="target_group" type="text" class="form-control">
                <div *ngIf="target_group.touched && !target_group.valid" class="alert alert-danger">
                    <div *ngIf="target_group.errors.required"> الرجاء إدخال الفئة المستهدفة   </div>
                </div>
            </div>

        
            <div class="form-group">
                <label for="description">description</label>
                <textarea required ngModel name="description" #description="ngModel" (change)="log(description)" id="description" type="text" class="form-control"></textarea>
                <div *ngIf="description.touched && !description.valid" class="alert alert-danger">
                    <div *ngIf="description.errors.required"> الرجاءادخال الوصف </div>
                </div>
            </div>
            <div class="form-group">
                <label for="camp_image">صورة المخيم</label>
                <input  ngModel name="camp_image" #image="ngModel" (change)="onselectedImage($event);" id="camp_image" type="file" class="form-control">
            </div>
                
                <button class="btn btn-primary" [disabled]="!f.valid" >إضافة </button>
        
        </form>
        
    </div>
</div>