<div class="contant" >
    
      <div class="row">
       
        <div class="col-sm-8">
        <div  *ngFor="let a of ablist">
          <h2>{{a.title}}</h2>
        <p>{{a.description}}</p>
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3 ">
        <h6>الأخبار</h6>
          
          <div class="card">
          <div class="slider news " *ngFor="let N of  newslist">
            
              <ul>
                <li>
                  <h6 >{{N.news_title}}</h6>
                </li>
              </ul>
           
            
          </div>
        </div>
      </div>
      
  </div>     
  </div>