<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container">
        <h2>أصناف مأكولات مطبخ البيوت السعيدة </h2>
        <br>
        <div class="row">
          <div class="col-sm-5">
            <a type="button" class="btn mb-1 py-1 px-2 btn-warning browse-button mr-1" aria-pressed="true"
            routerLink="/menuitems/{_itemtype_id}" routerLinkActive="active">
            <span>  عرض قائمة جميع الأطعمة</span>
          </a>
          </div>
          <div class="col-sm-5">
            <a type="button" class="btn mb-1 py-1 px-2 btn-warning browse-button mr-1" aria-pressed="true"
            routerLink="/discount" routerLinkActive="active">
            <span> عرض الخصومات </span>
          </a>
          </div>

        </div>
        
          <br>
          <br>
          <div class="row">
              <!--<div class="col-sm-4">
                <div class="card">
                    <img src="../../assets/image/m7jnat.jpg"/>
                  </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                    <img src="../../assets/image/aklatkkkk.jpg"/>
                  </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                    <img src="../../assets/image/7laweeat.jpg"/>
                  </div>
              </div>-->
          </div>
          
        <div class="row" style="margin: 20px;">
          
                <div class="col-sm-4" *ngFor="let t of  typelist">
                 
                    <div>
                      <img src="{{t.type_image}}" width="200px" height="100px"  alt="...">

                    </div>
                    <div>
                      
                      <h2 >{{t.type_name}}</h2>
                    
                    </div>
                
                <br>
           
            <div class="col-sm-2">

            </div>
        </div>
        <br>
                  </div>
                   
          <div class="row">
             
        </div>
    </div>
</body>
</html>

