
<div >
    <h2>أصناف وجبات الطعام  </h2> 
    
    <br>
  
         
    <table class="table table-hover">
      <thead>
        <tr>
          <th> اسم الصنف  </th>
          <th> صورة الصنف </th>
        </tr>
      </thead>
      <tbody *ngFor="let i of  typelist">
        <tr>
          <td>{{i.type_name}}</td>
          <td><img src="{{i.type_image}}" width="150px" height="150px"  alt="...">
          </td>
          <td><button class="btn btn-danger" (click)="itemTypedelete(i)">
            <a href="#"><i class="fa fa-trash"></i></a>
           </button>
          </td>
        </tr>
       
      </tbody>
    </table>
   </div>
   <div  style="background-color:red; text-align: center;">
    <h2>الوجبات </h2> 
  </div>
  <div>
  <br>       
    <table class="table table-hover">
      <thead>
        <tr>
          <th>اسم الوجبة  </th>
          <th>السعر  </th>
          
  
        </tr>
      </thead>
      <tbody *ngFor="let C of menulist">
        <tr>
          <td>{{C.item_name}}</td>
          <td>{{C.price}}</td>

          <td><button class="btn btn-danger" (click)="mydelete(C)">
            <a href="#"><i class="fa fa-trash"></i></a>
        </button></td>
        </tr>
       
      </tbody>
    </table>
   </div>