<nav class="navbar navbar-expand-sm bg-light justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item">
        <button type="button" class="btn btn-outline-warning">
          <a routerLink="/additem" >إضافةوجبة طعام </a>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-warning">
          <a routerLink="/adddiscount" >إضافة خصم  </a>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-warning">
          <a routerLink="/additemtype">إضافةصنف طعام </a>
        </button>

      </li>
  </ul>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
     
      <li role="presentation"> <a routerLink="/logout"> خروج </a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div >
  <div style="background-color:red; text-align: center;">
    <h2>أصناف وجبات الطعام  </h2> 
  </div>
    
    <br>
    <div class="row">
      <div class="col-md-4" *ngFor="let i of  typelist">
        <div class="card">
          <img src="{{i.type_image}}" width="100%" height="160px;" alt="...">
          <br>
          <div class="row">
            <div class="col-sm-8">
              <h3>{{i.type_name}}</h3>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-danger" (click)="itemTypedelete(i)">
                <a href="#"><i class="fa fa-trash"></i></a>
               </button>
            </div>
          </div>
         
        </div>
        <br>

      </div>
    </div>
   </div>
   <div  style="background-color:red; text-align: center;">
    <h2>الوجبات </h2> 
  </div>
  <div>
  <br>       
    <table class="table table-hover">
      <thead>
        <tr>
          <th>اسم الوجبة  </th>
          <th>سعر الوجبة </th>
          
  
        </tr>
      </thead>
      <tbody *ngFor="let C of menulist">
        <tr>
          <td>{{C.item_name}}</td>
          <td>{{C.price}} شيكل</td>

          <td><button class="btn btn-danger" (click)="mydelete(C)">
            <a href="#"><i class="fa fa-trash"></i></a>
        </button></td>
        </tr>
       
      </tbody>
    </table>
   </div>