
<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <div class="container">
        <h2>اخر أخبار جمعية البيوت السعيدة </h2>
        <div class="row">
          <div class="col-md-4" *ngFor="let N of  newslist">
          <div class="card">
            <div>
              <img height="160" src="{{N.N_image}}" class="card-img-top">
            </div>
            <div class="card-body">
              
              <h4 class="card-title">{{N.news_title}}</h4>
              <p class="card-text">{{N.description}}</p>
              <p class="card-text">{{N.date}}</p>

              
            </div>
          </div>
          <br>
        </div>
      </div>
        
    </div>
</body>
</html>
